body {
    
    padding-bottom: 20px;
    background-color:#f8eee7;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#f4decb;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.jumbotron h1 a{
    text-decoration: none;
    color: white;
}
@media only screen and (min-width:1200px) {
.container  {
        width: 1170px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.jumbotron {
    background-color: #94618e;
    margin-bottom: 0px;
}
.navbar-inverse{
    background-color: #49274a;
}

@media only screen and (min-width:1200px){
    .navbar {
        width: 1170px;
        margin: 0 auto;
    }

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-bottom: solid 1px #000;
}
