@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Clubs And Societies </h1>
</div>
<div class="row">
    <div class="col-lg-8">
        <h2>Welcome to the Clubs and Societies Web  App</h2>
        <p>
            This is a web application that
            allows a club administrator to add/remove/edit or view any club.
            They also have the ability to post a message to all the clubs if required.
            View all the up-coming events. Approve a post from a club to all clubs.
        </p>
    </div>
    
    
</div>