@{
    ViewData["Title"] = "Home Page";
}


<h1>Administrator Page</h1>
<div class="row">
    <div class="col-md-3">
       Login to access database
    </div>
    <div class="col-md-3">
        

    </div>
    <div class="col-md-3">
       
    </div>
    
</div>
